{# If you have a "Content Type" for header in Built.io Contentstack then use get() view helper to retrieve header entry. #}
{# e.g. set header = get("header_content_type_id") #}
{# And then render header values using the {{header.field_name}} #}
{% set header = get("header") %}
<!--lINK::::::::{{getUrl()}}-->
<!--{% set currentURL = '/' %}-->
 <!--{{currentURL.length}}-->
<header>
    <div class="container">
        <div class="row">
            <div id="logo-sec" class="logo col-md-3 text-center-sm">
                <a href="/">
                    <img src="{{getAssetUrl(header.logo)}}" alt="logo" class="img-responsive">
                </a>
            </div>

            <div id="menu-region" class="col-md-9">
                <nav class="navbar main-menu" role="navigation">
                    <!-- Menu button for mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">MENU</button>
                    </div>
                    <!-- Navigation links -->
                    <div class="navbar-collapse navbar-ex1-collapse collapse" style="height: 0px;">
                        {% set  _entry = header.main_menu %}
                        <ul class="nav navbar-right navbar-nav">
                            {% for entry in _entry %}
                                <li>
                                    <a href="{{entry.url}}" {% if entry.sub_menu.length >=1 %} data-toggle="dropdown" {% endif %}>{{entry.title}}</a>
                                    {% if entry.sub_menu.length >=1 %}
                                        <ul class="dropdown-menu">
                                            {% for sub in entry.sub_menu %}
                                                <li><a href="{{sub.url}}">{{sub.title}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div> <!-- /navbar-collapse -->
                </nav>
            </div> <!-- /menu-region -->

        </div> <!-- /row -->
    </div> <!-- container -->
</header>
