{% extends "layouts/default.html" %}

{% block content %}
<section>
	<!-- /top-content-region start-->
	<div id="top-content-region" class="top-content region-0 padding-top-15 padding-bottom-15 block-15 bg-color-grayLight1">
		<div class="container">
			<div class="row">
				<!-- /top-content-left-region start-->
				<div id="top-content-left-region" class="top-content-left col-xs-12 col-md-6 text-center-sm">
					<div class="region">
						<!-- /page-title-block start-->
						<div id="page-title-block" class="page-title block">
							<h1>{{entry.title}}</h1>
						</div>
						<!-- /page-title-block end-->
					</div>
				</div>
				<!-- /top-content-left-region end-->
			</div>
		</div>
	</div>
	<!-- /top-content-region end-->

	<!-- /highlighted-region start-->
	<div id="highlighted-region" class="highlighted text-color-light">
		<!-- /text-widget-1-block start-->
		<div id="text-widget-1-block" class="text-widget-1 position-relative bg-image-rails" data-stellar-background-ratio="0.7" style="background: url('{{getAssetUrl(entry.banner.background_image)}}') scroll center no-repeat; background-size: cover;">
			<div class="overlay text-color-light">
				<div class="vertical-center text-center">
					<div class="container">
						<h1> {{entry.banner.title}}</h1>
						<p> {{entry.banner.description}}</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /text-widget-1-block end-->
	</div>
	<!-- /highlighted-region end-->

	<!-- /content-region start-->
	<div id="content-region" class="content region">
		<!-- /panels-4-block start-->
		<div id="panels-4-block" class="panels-4 block">
			<div class="container">
				<div class="row">
					{% for list in entry.services_list %}
					<!-- /panels-item start-->
					<div class="col-xs-12 col-sm-6 col-md-4 panels-item">
						<!-- /panels-icon start-->
						<div class="panels-icon text-color-theme">
							<i class="fa {{list.font_awesome_class}}"></i>
						</div>
						<!-- /panels-icon end-->
						<!-- /panels-text start-->
						<div class="panels-text">
							<h6>{{list.title}}</h6>
							<p>{{list.description}}</p>
						</div>
						<!-- /panels-text end-->
					</div>
					<!-- /panels-item end-->
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- /panels-4-block end-->
	</div>
	<!-- /content-region end-->

	<!-- /content-2-region start-->
	<div id="content-2-region" class="content-2 region testimonial-sec-service">
		<!-- /testimonials-2-block start-->
		<div id="testimonials-2-block" class="testimonials-2 block text-center">
			<div class="container">
				<div class="row">
					{% for testimonials in entry.testimonials %}
					<!-- /testimonials-2-item start-->
					<div class="col-xs-12 col-md-4 testimonials-2-item">
						<i class="fa fa-comment-o testimonials-2-icon text-color-theme size-48"></i>
						<p class="testimonials-2-text"> {{testimonials.description}}</p>
						<p class="testimonials-2-author bitter-font"><i>{{testimonials.author}}</i></p>
					</div>
					<!-- /testimonials-2-item end-->
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- /testimonials-2-block end-->
	</div>
	<!-- /content-2-region end-->

	<!-- /content-3-region start-->
	<div id="content-3-region" class="content-3 region bg-color-theme text-color-light">
		<!-- /call-to-action-1-block start-->
		<div id="call-to-action-1-block" class="call-to-action-1 block">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h4 class="call-to-action-1-text">{{entry.contact.title}}</h4>
						<a href="{{entry.contact.call_to_action.link}}" {% if entry.contact.call_to_action.open_in_new_tab_ %} target="_blank" {% endif %} class="call-to-action-1-button btn btn-default">{{entry.contact.call_to_action.title}}</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /call-to-action-1-block end-->
	</div>
	<!-- /content-3-region end-->
</section>
{% endblock %}
