# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/workspace.xml
.idea/
./idea/*
module/*
Query/*
query/*
node_modules/
node_modules/*
libs/utils/logs/
libs/utils/logs/*
*.log