{% extends "layouts/default.html" %}

{% block content %}
<section>
	<!-- /top-content-region -->
	<div id="top-content-region" class="top-content region-0 padding-top-15 padding-bottom-15 block-15 bg-color-grayLight1">
		<div class="container">
			<div class="row">
				<!-- /top-content-left-region start-->
				<div id="top-content-left-region" class="top-content-left col-xs-12 col-md-6 text-center-sm">
					<div class="region">
						<!-- /page-title-block start-->
						<div id="page-title-block" class="page-title block">
							<h1>{{entry.title}}</h1>
						</div>
						<!-- /page-title-block end-->
					</div>
				</div>
				<!-- /top-content-left-region end-->
			</div>
		</div>
	</div>
	<!-- /top-content-region -->

	<div id="content-region" class="content region">

		<div id="about-content-block" class="about-content block">
			<div class="container">
				<div class="row">

					<div class="col-xs-12 col-md-6 ul-chk-style">
						<h5>{{entry.content.title}}</h5>
						<p>{{entry.content.content}}</p>
					</div> <!-- /col-xs-12 -->

					<div class="col-xs-12 col-md-6 margin-top-sm-30">
						<div class="flex-arrow-slider">
							<ul class="slides">
								{% for _entry in entry.content.image %}
								<li class="flex-active-slide"><img src="{{getAssetUrl(_entry)}}" alt="cookies" title="cookies" class="img-responsive img-full-width" draggable="false"></li>
								{% endfor %}
							</ul>
							<ul class="flex-direction-nav">
								<li>
									<a class="flex-prev" href="#">Previous</a>
								</li>
								<li>
									<a class="flex-next" href="#">Next</a>
								</li>
							</ul><!-- /flex-arrow-slider -->
					</div>
					</div> <!-- /col-xs-12 -->

				</div> <!-- /row -->
			</div> <!-- /container -->
		</div> <!-- /about-content-block -->


		<div id="section-block" class="section block">
			<div class="container">
				<div class="row">
					{% for feature in entry.features%}

					<div class="col-xs-12 col-md-4 panels-item">
						<h5 class="section-title">{{feature.title}}</h5>
						<p>{{feature.description}}</p>
					</div> <!-- /panels-item -->

					{% endfor %}
				</div> <!-- /row -->
			</div> <!-- /container -->
		</div> <!-- /section-block -->

	</div> <!-- /content-region -->

	<div id="content-1-region" class="content-1 bg-color-grayLight1 region">

		<div id="company-stats-2-block" class="company-stats-2 block text-center">
			<div class="container">

				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
						<h3 class="text-color-theme">{{entry.company_stat.title}}</h3>
						<p>{{entry.company_stat.content}}</p>
					</div> <!-- /col-xs-12 -->
				</div> <!-- /row -->

			</div> <!-- /container -->
		</div> <!-- /company-stats-2-block -->

	</div> <!-- /content-1-region -->

	<div id="content-2-region" class="content-2 region team-section">

		<div id="team-block" class="team block">
			<div class="container">

				<h2 class="block-title">{{entry.team.title}}</h2>

				<div class="row">

					{% for team in entry.team.team_member %}

					<div class="col-xs-12 col-md-4 team-item">
						<div class="team-item-image">
							<img src="{{getAssetUrl(team.image)}}" alt="member 1" title="member 1" class="img-responsive">
							<div class="team-item-overlay">
								<p>
									{{team.social_site}}
								</p>
							</div>
						</div> <!-- /team-item-image -->
						<div class="team-item-name">
							<h6>{{team.name}}</h6>
							<p class="text-color-theme">{{team.designation}}</p>
						</div> <!-- /team-item-name -->
						<p class="team-item-description">{{team.description}} </p>
					</div> <!-- /team-item -->
					{% endfor %}

				</div> <!-- /row -->
			</div> <!-- /container -->
		</div> <!-- /team-block -->

	</div> <!-- /content-2-region -->

	<div id="content-3-region" class="content-3 region bg-color-grayLight1">

		<div id="partners-block" class="partners block">
			<div class="container">

				<div class="row text-center">

					{% for partner in entry.partner %}

					<div class="col-xs-12 col-sm-6 col-md-3 partner">
						<img src="{{getAssetUrl(partner.image)}}" alt="partner 1" class="img-responsive">
					</div> <!-- /partner -->

					{% endfor %}
				</div> <!-- /row -->
			</div> <!-- /container -->
		</div> <!-- /partners-block -->

	</div> <!-- /content-3-region -->

   </section>
{% endblock %}
