{% extends "layouts/default.html" %}

{% block content %}
<section>
	<!-- /top-content-region start-->
	<div id="top-content-region" class="top-content region-0 padding-top-15 padding-bottom-15 block-15 bg-color-grayLight1">
		<div class="container">
			<div class="row">
				<!-- /top-content-left-region start-->
				<div id="top-content-left-region" class="top-content-left col-xs-12 col-md-6 text-center-sm">
					<div class="region">
						<!-- /page-title-block start-->
						<div id="page-title-block" class="page-title block">
							<h1>{{entry.title}}</h1>
						</div>
						<!-- /page-title-block start-->
					</div>
				</div>
				<!-- /top-content-left-region end-->
			</div>
		</div>
	</div>
	<!-- /top-content-region end-->

	<div id="content-region" class="content">
		<div class="container">
			<div class="row">
				<div id="main-content-region" class="main-content col-xs-12 col-md-10">
					<div class="region">
						<p>{{entry.abstract}}</p>
						{% for query in entry.common_queries %}
						<div id="faq-block" class="block">

							<h5 class="text-color-theme">{{query.question}}</h5>
							<p> {{query.answer}}</p>

						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
