<!DOCTYPE HTML>
<html>
<head>
    <title>{{entry.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/seo.html" %}
    <link href="/static/images/favicon.png" rel="icon" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,400italic,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/flexslider.css" rel="stylesheet" type="text/css">
    <link href="/static/css/red-theme.css" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.flexslider-min.js"></script>
    <script src="/static/js/jquery.stellar.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>
<!-- /main-wrapper start-->
<div class="main-wrapper">
    {% include "partials/header.html" %}

    {% block content %}{% endblock %}

    {% include "partials/footer.html" %}
</div>
<!-- /main-wrapper end-->
<!-- /Back-to-top start-->
<div id="back-to-top" class="go-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
<!-- /Back-to-top end-->
</body>
</html>