{% extends "layouts/default.html" %}

{% block content %}
<section>
	<!-- /highlighted-region start-->
	<div id="highlighted-region" class="highlighted text-color-light">
			<div id="highlighted-slider-1-block" class="highlighted-slider-1 position-relative bg-image-cactus" data-stellar-background-ratio="0.7" style="background: url('{{getAssetUrl(entry.banner.background_image)}}') scroll center no-repeat; background-size: cover;">
				<!-- /overlay start-->
				<div class="overlay">
				<!-- /flex-bullet-slider start-->
				<div class="flex-bullet-slider vertical-center text-center">
					<div class="container">
						<ul class="slides">
							{% for slide in entry.banner.content%}
							<li>
								<h1 class="slider-title">{{slide.title}}</h1>
								<p class="slider-description">{{slide.description}}</p>
								<a href="{{slide.cta.link}}" {% if slide.cta.open_in_new_tab_ %} target="_blank" {% endif %} class="btn btn-default">{{slide.cta.title}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<!-- /flex-bullet-slider end-->
			</div>
			<!-- /overlay end-->
		</div>
	</div>
	<!-- /highlighted-region end-->

	<!-- /content-region start-->
	<div id="content-region" class="content region">
		<!-- /panels-1-block start-->
		<div id="panels-1-block" class="panels-1 block">
			<div class="container">
				<div class="row">
					{% for feature in entry.features%}
					<div class="panels-item col-xs-12 col-md-4">
						<i class="fa {{feature.font_awesome_class}} text-color-theme" aria-hidden="true"></i>
						<h6>{{feature.title}}</h6>
						<p>{{feature.description}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- /panels-1-block end-->
	</div>
	<!-- /content-region end-->

	<!-- content-1-region start-->
	<div id="content-1-region" class="content-1 region bg-color-grayLight1">
		<!-- /services-1-block start-->
		<div id="services-1-block" class="services-1 block">
			<div class="container">
				<div class="row">
					<!-- /services-1-content start-->
					<div class="services-1-content col-xs-12 col-md-7">
						<h2>{{entry.services.title}}</h2>
						<div class="service-content">
							{{entry.services.content}}
						</div>
						<!-- /panels-2 start-->
						<div class="panels-2">
							<div class="row">
								{% for service in entry.services.service_details%}
								<div class="panels-item col-sm-6">
									<i class="fa {{service.font_awesome_class}} text-color-theme" aria-hidden="true"></i>
									<h6>{{service.title}}</h6>
									<p>{{service.description}}</p>
								</div>
								{% endfor %}
							</div>
						</div>
						<!-- /panels-2 end-->
					</div>
					<!-- /services-1-content end-->
					<!-- /services-1-image start-->
					<div class="services-1-image col-xs-12 col-md-5 text-center">
						<img src="{{getAssetUrl(entry.services.image)}}" alt="iPhone" class="img-responsive">
					</div>
					<!-- /services-1-image end-->

				</div>
			</div>
		</div>
		<!-- /services-1-block end-->
	</div>
	<!-- content-1-region end-->

	<!-- /content-2-region start-->
	<div id="content-2-region" class="content-2 region">
		<!-- /our-work-1-block start-->
		<div id="our-work-1-block" class="our-work-1 block">
			<div class="container">
				<h2 class="block-title">{{entry.work.title}}</h2>
				<div class="row our-work-1-description">
					<div class="col-xs-12 col-md-9">
						{{entry.work.description}}
					</div>
					<div class="col-xs-12 col-md-3 text-left-sm margin-top-sm-30 text-right">
						<a href="{{entry.work.cta.href}}" class="btn btn-primary">{{entry.work.cta.title}}</a>
					</div>
				</div>
				<div class="row">
					{% for work in entry.work.work_details %}
					<!-- /our-work-1-item start-->
					<div class="our-work-1-item col-xs-12 col-sm-4">
						<a href="{{work.cta.link}}">
							<!-- /our-work-1-image start-->
							<div class="our-work-1-image">
								<img class="img-responsive" src="{{getAssetUrl(work.image)}}" alt="Portfolio 1" title="Portfolio 1">
								<div class="our-work-1-overlay">
									<p>{{work.cta.title}}</p>
								</div>
							</div>
							<!-- /our-work-1-image end-->
						</a>
						<!-- /our-work-1-item-description start-->
						<div class="our-work-1-item-description">
							<h6>{{work.title}}</h6>
							<p class="text-color-theme"><small>{{work.date}}</small></p>
						</div>
						<!-- /our-work-1-item-description end-->
					</div>
					<!-- /our-work-1-item end-->

					{% endfor %}
				</div>
			</div>
		</div>
		<!-- /our-work-1-block end-->
	</div>
	<!-- /content-2-region end-->
	<!-- /content-3-region start-->
	<div id="content-3-region" class="content-3 region position-relative bg-image-bench text-color-light" data-stellar-background-ratio="0.7" style="background: url('{{getAssetUrl(entry.testimonials.background_image)}}') scroll center no-repeat; background-size: cover;">
		<!-- /text-widget-1-block start-->
		<div id="text-widget-1-block" class="text-widget-1 block">
			<div class="overlay">
				<!-- /vertical-center start-->
				<div class="vertical-center text-center">
					<div class="container">
						<h1 class="no-margin">{{entry.testimonials.title}}</h1>
					</div>
				</div>
				<!-- /vertical-center end-->
			</div>
		</div>
		<!-- /text-widget-1-block end-->
	</div>
	<!-- /content-3-region end-->
	<!-- /content-4-region start-->
	<div id="content-4-region" class="content-4 region bg-color-grayDark2 text-color-light">
		<!-- /testimonials-1-block start-->
		<div id="testimonials-1-block" class="testimonials-1 block">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<!-- /flex-bullet-slider start-->
						<div class="flex-bullet-slider vertical-center text-center">
							<i class="fa fa-comment-o testimonials-1-icon text-color-theme" aria-hidden="true"></i>
							<ul class="slides">
								{% for name in entry.testimonials.testimony %}
								<li class="">
									<h4 class="testimonials-1-text lato-font">{{name.description}}</h4>
									<p class="testimonials-1-author text-color-theme"><i>{{name.author}}</i></p>
								</li>
								{% endfor %}
							</ul>
						</div>
						<!-- /flex-bullet-slider end-->
					</div>
				</div>
			</div>
		</div>
		<!-- /testimonials-1-block end-->
	</div>
	<!-- /content-4-region end-->

	<!-- /content-5-region start-->
	<div id="content-5-region" class="content-5 region bg-color-theme text-color-light">
		<!-- /call-to-action-1-block start-->
		<div id="call-to-action-1-block" class="call-to-action-1 block">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h4 class="call-to-action-1-text">{{entry.purchase.title}}</h4>
						<a href="{{entry.purchase.cta.link}}" {% if entry.purchase.cta.open_in_new_tab_ %} target="_blank" {% endif %} class="call-to-action-1-button btn btn-default">{{entry.purchase.cta.title}}</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /call-to-action-1-block end-->
	</div>
	<!-- /content-5-region end-->

	<!-- /content-6-region start-->
	<div id="content-6-region" class="content-6 region bg-color-grayLight1">
		<!-- /text-accordions-block start-->
		<div id="text-accordions-block" class="text-accordions block ul-chk-style">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<h5>{{entry.support.features.title}}</h5>
						<p>{{entry.support.features.description}}</p>
					</div>
					<div class="col-xs-12 col-md-6 margin-top-sm-40">
						<!-- Accordions start-->
						<!-- /panel-group start-->
						<div class="panel-group" id="accordion2">
							{% for collapsible in entry.support.collapsible_group %}
							<!-- /panel start-->
							<div class="panel panel-primary">
								<div class="panel-heading">
									<a data-toggle="collapse" data-parent="#accordion2" href="#collapse{{loop.index}}">
										{{collapsible.title}}
									</a>
								</div>
								<div id="collapse{{loop.index}}" class="panel-collapse collapse">
									<div class="panel-body">
										{{collapsible.content}}
									</div>
								</div>
							</div>
							<!-- /panel end-->
							{% endfor %}
						</div>
						<!-- /panel-group end-->
						<!-- /Accordions end-->

					</div>

				</div>
			</div>
		</div>
		<!-- /text-accordions-block end-->
	</div>
	<!-- /content-6-region end-->

	<!-- /content-7-region start-->
	<div id="content-7-region" class="content-7 region">
		<!-- /company-description-block start-->
		<div id="company-description-block" class="company-description block">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
						<h2>{{entry.year_stats.title}}</h2>
						<p>{{entry.year_stats.description}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 company-description-image text-center">
						<img src="{{getAssetUrl(entry.year_stats.image)}}" class="img-responsive" alt="Company Description" title="Company Description">
					</div>
				</div>
			</div>
		</div>
		<!-- /company-description-block end-->
	</div>
	<!-- /content-7-region end-->

</section>
{% endblock %}